/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e3e7eb;
}

section {
  width: 80%;
  margin: 160px auto;
  padding: 80px 5%;
  box-shadow: 0 0 15px rgb(192, 190, 190);
  border-radius: 10px;
  display: flex;
  background-color: white;
  /* align-items: center; */
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f3f3;
  padding: 5px 10%;
}

.header-left {
  display: flex;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a {
  padding: 10px 20px;
  color: black;
  font-size: 16px;
  font-weight: 450;
}

.navbar a:hover {
  color: orangered;
}

.navbar li .active {
  font-weight: 700;
}

.logo {
  padding: 10px 20px 10px 0;
}

.header-contact a {
  padding: 5px 20px;
  color: white;
  background-color: black;
  border-radius: 10px;
}

.header-contact a:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.about {
  flex: 60%;
  margin-right: 50px;
}

h1 {
  margin-bottom: 19px;
}
p {
  text-align: justify;
  font-size: 14px;
}

.contact {
  margin: 30px 0;
}

.contact a {
  font-size: 15px;
  padding: 6px 25px;
  background-color: black;
  color: white;
  border-radius: 20px;
}

.contact a:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

span {
  font-size: 15px;
}

.download-cv a {
  padding: 0 10px;
  color: black;
  font-weight: 700;
}

.download-cv a:hover {
  color: orangered;
}

.social {
  display: flex;
  /* justify-content: center; */
  margin: 28px auto 40px;
}

.social a {
  text-align: center;
  /* align-items: center; */
  width: 32px;
  height: 32px;
  font-size: 24px;
  background-color: black;
  color: white;
  border-radius: 50%;
  margin-right: 10px;
}

.social a:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}

.card {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  /* 2px=x axis, 4px=y axis, 4px=ketebalan */
  width: 340px;
  height: 400px;
}

.card img {
  width: 100%;
  filter: grayscale();
}

.card h2 {
  padding: 0 16px;
  /* 0=atas bawah, 16px=kiri kanan */
  text-align: center;
  margin-top: 10px;
}

.card p {
  font-size: 16px;
  padding: 0 16px;
  text-align: center;
}

.card:hover {
  transform: scale(1.02);
  transition: 0.5s;
}

.card:hover img {
  filter: grayscale(0);
}

/* Form */
.form-title {
  margin-top: 120px;
  text-align: center;
}

.form-title h1 {
  font-size: 28px;
  font-weight: bold;
}

form {
  /* background-color: coral; */
  margin: 10px auto;
  padding: 10px;
  width: 550px;
}

form div {
  margin-top: 15px;
}

label {
  font-weight: 500;
  font-size: 20px;
}

input,
select,
textarea {
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  box-shadow: 0 0 5px gray;
}

.btn {
  text-align: end;
}

button {
  margin-top: 20px;
  color: #fff;
  background-color: black;
  font-size: 15px;
  padding: 5px 30px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  text-align: end;
}

button:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}
